<header class="b-header">
  <nav class="navbar navbar-inverse" style="background-color: #2780e3;color:#1967be;border-color:#2780e3;border-radius: 0;">
    <div class="container">
      <div class="navbar-header">
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="b-navbar-brand">
          <div class="b-logo" style="float:left;margin:7px 15px 0 0;">
            <img src="/assets/logo.png" alt="Bookmarker Logo" width="32">
          </div>
          <a class="navbar-brand" href="#" style="color:white;">Person Management System</a>
        </a>
      </div>
    </div>
  </nav>
</header>
