<form [formGroup]="formEnviar" (ngSubmit)="onSubmit($event)">
  <div class="b-table-container mat-elevation-z8">
    <div class="b-table-container__header" style="min-height: 64px;padding: 8px 24px 0;">
      <div class="clearfix">
        <button mat-raised-button color="primary" style="float:right; margin-top: 16px;" (click)="createPeople()" *ngIf="isViewVisualized || idPeopleSelected != people.id">Add</button>
        <button mat-raised-button color="primary" style="float:right; margin-top: 16px;" (click)="onSubmitSaveChanges(people, $event)" *ngIf="!isViewVisualized && idPeopleSelected == people.id" [disabled]="(formEnviar.invalid)">Save Changes</button>
        <button mat-raised-button color="primary" style="float:right; margin-top: 16px; margin-right: 10px" (click)="onSubmitUndoChanges(people, $event)" *ngIf="!isViewVisualized && idPeopleSelected == people.id">Undo Changes</button>

    </div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Find people">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;"> Id. </th>
        <td mat-cell *matCellDef="let element" style="display: none;"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="isViewVisualized || idPeopleSelected != element.id" (click)="editPeopleInline(element, $event)">
              {{element.firstName}}
          </span>

          <div *ngIf="!isViewVisualized && idPeopleSelected == element.id">
              <mat-form-field>
                  <input matInput formControlName="firstName" [(ngModel)]="people.firstName">
                  <mat-error *ngIf="!formEnviar.get('firstName').valid && formEnviar.get('firstName').touched">Field First Name is invalid.</mat-error>
                </mat-form-field>
          </div>
         </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="isViewVisualized || idPeopleSelected != element.id" (click)="editPeopleInline(element, $event)">
                {{element.age}}
            </span>
            <div *ngIf="!isViewVisualized && idPeopleSelected == element.id">
                <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Age" formControlName="age" [(ngModel)]="people.age">
                    <mat-error *ngIf="!formEnviar.get('age').valid && formEnviar.get('age').touched">Field Age is invalid.</mat-error>
                  </mat-form-field>
            </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="profession">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Profession </th>
        <td mat-cell *matCellDef="let element"> {{element.profession}} </td>
      </ng-container>

      <ng-container matColumnDef="aboutMe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> About Me </th>
        <td mat-cell *matCellDef="let element"> {{element.aboutMe}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editPeopleFull(element, $event)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="removePeople(element, $event)">
              <mat-icon>delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>

    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = $event">
    </mat-paginator>
  </div>
</form>
