.b-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-header-cell, .mat-cell{
  width: 15%;
  padding-left: 20px;
}

tr.mat-header-row{
  height: 35px !important;
}