/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
  color: #B27200;
  font-weight: bold;
  margin-bottom: 15px;
}

a {
  color: #B27200;
}
